# PyLint configuration for MagellanMapper
# Author: David Young, 2018

[MASTER]
# Pylint config

[DESIGN]
max-attributes=15
max-statements=150

[MESSAGES CONTROL]
disable = 
    trailing-whitespace,
    import-error,
    invalid-name,
    pointless-string-statement,
    global-statement,
    no-member,
    too-many-arguments,
    too-many-locals,
    multiple-statements,
    len-as-condition, # occasionally incorrect for Numpy arrays
