apptools==4.4.0
awscli==1.16.88
boto3==1.9.78
botocore==1.12.78
certifi==2018.11.29
cloudpickle==0.6.1
colorama==0.3.9
configobj==5.0.6
cycler==0.10.0
Cython==0.29.2
dask==1.0.0
decorator==4.3.0
docutils==0.14
envisage==4.7.0
javabridge==1.0.18
jmespath==0.9.3
kiwisolver==1.0.1
matplotlib==3.0.2
matplotlib-scalebar==0.5.1
mayavi==4.6.2
mkl-fft==1.0.10
mkl-random==1.0.2
networkx==2.2
numpy==1.15.4
pandas==0.23.4
Pillow==5.4.1
pyamg==4.0.0
pyasn1==0.4.5
pyface==6.0.0
Pygments==2.3.1
pyparsing==2.3.0
PyQt5==5.11.3
PyQt5-sip==4.19.13
python-bioformats==1.1.0
python-dateutil==2.7.5
pytz==2018.7
PyWavelets==1.0.1
PyYAML==3.13
rsa==3.4.2
s3transfer==0.1.13
scikit-image==0.14.1
scipy==1.1.0
SimpleITK==1.2.0
six==1.12.0
toolz==0.9.0
tornado==5.1.1
traits==4.6.0
traitsui==6.0.0
urllib3==1.24.1
vtk==8.1.2
