appdirs==1.4.4
bg-atlasapi==1.0.3
brainglobe_space==1.0.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
fonttools==4.53.0
idna==3.7
imagecodecs==2024.1.1
imageio==2.34.0
importlib_metadata==7.1.0
importlib_resources==6.4.0
itk==5.4rc3
itk-core==5.4rc3
itk-elastix==0.19.2
itk-filtering==5.4rc3
itk-io==5.4rc3
itk-numerics==5.4rc3
itk-registration==5.4rc3
itk-segmentation==5.4rc3
kiwisolver==1.4.5
lazy_loader==0.4
markdown-it-py==3.0.0
matplotlib==3.8.4
mdurl==0.1.2
meshio==5.3.5
networkx==3.2.1
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pillow==10.3.0
pyface==8.0.0
Pygments==2.17.2
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.13 ; sys_platform == "darwin"
PyQt5-sip==12.13.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.32.2
rich==13.7.1
scikit-image==0.24.0
scipy==1.13.0
six==1.16.0
tifffile==2024.5.22
traits==6.4.3
traitsui==8.0.0
treelib==1.7.0
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.2
zipp==3.19.2
