--extra-index-url https://pypi.fury.io/dd8/
appdirs==1.4.4
bg-atlasapi==1.0.2
bg-space==0.6.0
certifi==2023.7.22
charset-normalizer==3.1.0
click==8.1.3
contourpy==1.1.0
cycler==0.11.0
fonttools==4.40.0
future==0.18.3
idna==3.4
imagecodecs==2023.3.16
imageio==2.31.1
importlib-metadata==6.7.0
importlib-resources==5.12.0
itk==5.3.0
itk-core==5.3.0
itk-elastix==0.17.1
itk-filtering==5.3.0
itk-io==5.3.0
itk-numerics==5.3.0
itk-registration==5.3.0
itk-segmentation==5.3.0
javabridge==1.0.19.post9+gc8c12b4
kiwisolver==1.4.4
lazy_loader==0.3
markdown-it-py==3.0.0
matplotlib==3.7.1
matplotlib-scalebar==0.8.1
mdurl==0.1.2
meshio==5.3.4
networkx==3.1
numpy==1.26.0
packaging==23.1
pandas==2.0.3
Pillow==10.0.0
pyamg==5.0.1
pyface==8.0.0
Pygments==2.15.1
pyparsing==3.1.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
python-bioformats==4.0.7.post5+g52309d1
python-dateutil==2.8.2
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0
requests==2.31.0
rich==13.4.2
scikit-image==0.21.0
scipy==1.10.1
six==1.16.0
tifffile==2023.4.12
traits==6.4.1
traitsui==8.0.0
treelib==1.6.4
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
zipp==3.15.0
