--extra-index-url https://pypi.fury.io/dd8/
aiohttp==3.8.3
aiosignal==1.3.1
appdirs==1.4.4
apptools==5.2.0
async-timeout==4.0.2
attrs==22.1.0
bg-atlasapi @ https://github.com/brainglobe/bg-atlasapi/archive/refs/heads/master.zip
bg-space==0.6.0
boto3==1.24.93
botocore==1.27.93
certifi==2022.12.7
charset-normalizer==2.1.1
click==8.1.3
commonmark==0.9.1
configobj==5.0.6
contourpy==1.0.6
cycler==0.11.0
envisage==6.1.0
fonttools==4.38.0
frozenlist==1.3.3
future==0.18.2
idna==3.4
imagecodecs==2022.9.26
imageio==2.23.0
importlib-resources==5.10.1
javabridge==1.0.19.post4+gbebed64
jmespath==1.0.1
kiwisolver==1.4.4
matplotlib==3.6.2
matplotlib-scalebar==0.8.1
mayavi==4.8.1
meshio==5.3.4
multidict==6.0.3
networkx==2.8.8
numpy==1.24.0
packaging==22.0
pandas==1.5.2
Pillow==9.3.0
pyamg==4.2.3
pyface==7.4.3
Pygments==2.13.0
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
python-bioformats==4.0.5.post2+g51eb88a
python-dateutil==2.8.2
pytz==2022.6
PyWavelets==1.4.1
PyYAML==6.0
requests==2.28.1
rich==12.6.0
s3transfer==0.6.0
scikit-image==0.19.3
scipy==1.9.3
SimpleITK==2.0.2rc2.dev785+g8ac4f
six==1.16.0
tifffile==2022.10.10
traits==6.4.1
traitsui==7.4.2
treelib==1.6.1
typing_extensions==4.4.0
urllib3==1.26.13
vtk==9.2.2
wslink==1.10.0
yarl==1.8.2
zipp==3.11.0
